<% include ./partials/header.ejs %>

<div class="container pad-top">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>My Blog</h1>
      <a class="new-post btn btn-primary" href="/new">Create New Transaction</a>

<% transactions.forEach(function (transaction) {%>

      <div>
        <h2><%= transaction.doc.title %></h2>
        <p><%= transaction.doc.date %></p>
        <p>$<%= transaction.doc.amount %></p>
        <p><%= transaction.doc.category %></p>
        <p><%= transaction.doc.description %></p>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>
